<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moim.moimapiserver.adminGroup.AdminGroupMapper">

    <select id="selectGroupCount">
        SELECT
            COUNT(*)
        FROM
            TBL_GROUP
    </select>

    <select id="selectAllGroup" parameterType="int" resultType="com.moim.moimapiserver.group.GroupDto">
        SELECT
            g.*,
            m.M_NAME,
            m.M_NICKNAME
        FROM
            TBL_GROUP g
                LEFT JOIN
            TBL_MEMBER m ON g.G_MASTER_ID = m.M_NO
            LIMIT #{size} OFFSET #{offset}
    </select>

    <delete id="deleteGroupByGNo" parameterType="int">
        DELETE
            FROM
                TBL_GROUP
        WHERE
            G_NO = ${g_no}
    </delete>
</mapper>