<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moim.moimapiserver.admin.AdminMapper">

    <select id="selectAdminPart" resultType="com.moim.moimapiserver.dto.AdminPartDto">
        SELECT
            *
        FROM
            TBL_ADMIN_PART
    </select>

    <select id="selectAdminPosition" resultType="com.moim.moimapiserver.dto.AdminPositionDto">
        SELECT
            *
        FROM
            TBL_ADMIN_POSITION
    </select>

    <insert id="insertNewAdmin" parameterType="com.moim.moimapiserver.dto.AdminDto">
        INSERT INTO
            TBL_ADMIN(
                      A_ID,
                      A_PW,
                      A_NAME,
                      A_MAIL,
                      A_PHONE,
                      A_PART,
                      A_POSITION
        ) VALUES(
            #{a_id},
            #{a_pw},
            #{a_name},
            #{a_mail},
            #{a_phone},
            #{a_part},
            #{a_position}
        )
    </insert>
    <select id="selectAdminByAId" parameterType="String" resultType="com.moim.moimapiserver.dto.AdminDto">
        SELECT
            *
        FROM
            TBL_ADMIN
        WHERE
            A_ID = #{a_id}
    </select>

    <select id="adminDuplicateCheck" parameterType="String">
        SELECT
            COUNT(*)
        FROM
            TBL_ADMIN
        WHERE
            A_ID = #{a_id}
    </select>

    <select id="selectAdmins" parameterType="com.moim.moimapiserver.dto.AdminDto">
        SELECT
            *
        FROM
            TBL_ADMIN
                LIMIT #{size} OFFSET #{offset}

    </select>
    <select id="selectUsers" parameterType="com.moim.moimapiserver.dto.MemberDto">
        SELECT
            *
        FROM
            TBL_MEMBER
                LIMIT #{size} OFFSET #{offset}

    </select>
    <select id="selectAdminCount">
        SELECT
            COUNT(*)
        FROM
            TBL_ADMIN
    </select>

    <select id="selectAdminsByApproval">
        SELECT
            *
        FROM
            TBL_ADMIN
        WHERE
            A_APPROVAL = 0
            LIMIT #{size} OFFSET #{offset};
    </select>

    <update id="updateAdminApprovalByANo" parameterType="com.moim.moimapiserver.dto.AdminDto">
        UPDATE
            TBL_ADMIN
        SET
            A_APPROVAL = ${a_approval},
            A_MOD_DATE = NOW(),
            A_APPROVAL_DATE = NOW()
        WHERE
            A_NO = ${a_no}
    </update>

    <delete id="deleteAdminByANo" parameterType="int">
        DELETE
            FROM
                TBL_ADMIN
        WHERE
            A_NO = #{a_no}
    </delete>

    <update id="updateAdminPartByANo" parameterType="com.moim.moimapiserver.dto.AdminDto">
        UPDATE
            TBL_ADMIN
        SET
            A_PART = #{a_part},
            A_MOD_DATE = NOW()
        WHERE
            A_NO = #{a_no}
    </update>

    <update id="updateAdminPositionByANo" parameterType="com.moim.moimapiserver.dto.AdminDto">
        UPDATE
            TBL_ADMIN
        SET
            A_POSITION = #{a_position},
            A_MOD_DATE = NOW()
        WHERE
            A_NO = #{a_no}
    </update>

    <update id="updateAdminAuthorityByANo" parameterType="com.moim.moimapiserver.dto.AdminDto">
        UPDATE
            TBL_ADMIN
        SET
            A_AUTHORITY = #{a_authority},
            A_MOD_DATE = NOW(),
            A_AUTHORITY_DATE = NOW()
        WHERE
            A_NO = #{a_no}
    </update>

    <update id="updateAdminActiveByANo" parameterType="com.moim.moimapiserver.dto.AdminDto">
        UPDATE
            TBL_ADMIN
        SET
            A_IS_ACTIVE = #{a_is_active},
            A_MOD_DATE = NOW(),
            A_IS_ACTIVE_DATE = NOW()
        WHERE
            A_NO = #{a_no}
    </update>

    <select id="selectAdminPartByOffset" parameterType="int" resultType="com.moim.moimapiserver.dto.AdminPartDto">
        SELECT
            *
        FROM
            TBL_ADMIN_PART
                LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectAdminPartCount">
        SELECT
            COUNT(*)
        FROM
            TBL_ADMIN_PART
    </select>

    <select id="selectAdminCountByApproval">
        SELECT
            COUNT(*)
        FROM
            TBL_ADMIN
        WHERE
            A_APPROVAL = 0
    </select>

    <delete id="deleteAdminPartItem">
        DELETE
            FROM
                TBL_ADMIN_PART
        WHERE
            APT_NO = #{apt_no}
    </delete>

    <insert id="insertNewAdminPart" parameterType="com.moim.moimapiserver.dto.AdminPartDto">
        INSERT INTO
            TBL_ADMIN_PART(APT_NAME) VALUES (#{apt_name})

    </insert>

    <update id="updateAdminPart" parameterType="com.moim.moimapiserver.dto.AdminPartDto">
        UPDATE
            TBL_ADMIN_PART
        SET
            APT_NAME = #{apt_name},
            APT_MOD_DATE = NOW()
        WHERE
            APT_NO = #{apt_no}
    </update>

    <select id="selectAdminPositionCount">
        SELECT
            COUNT(*)
        FROM
            TBL_ADMIN_POSITION

    </select>

    <select id="selectAdminPositionByOffset" resultType="com.moim.moimapiserver.dto.AdminPositionDto">
        SELECT
            *
        FROM
            TBL_ADMIN_POSITION
            LIMIT #{size} OFFSET #{offset}
    </select>

    <insert id="insertNewAdminPosition" parameterType="com.moim.moimapiserver.dto.AdminPositionDto">
        INSERT INTO
            TBL_ADMIN_POSITION(APS_NAME) VALUES (#{aps_name})

    </insert>

    <update id="updateAdminPosition" parameterType="com.moim.moimapiserver.dto.AdminPositionDto">
        UPDATE
            TBL_ADMIN_POSITION
            SET
                APS_NAME = #{aps_name},
                APS_MOD_DATE = NOW()
            WHERE
                APS_NO = #{aps_no}
    </update>
    <delete id="deleteAdminPosition" parameterType="com.moim.moimapiserver.dto.AdminPositionDto">
        DELETE
            FROM
                TBL_ADMIN_POSITION
            WHERE
                APS_NO = #{aps_no}
    </delete>

    <select id="selectAdminByAid" parameterType="com.moim.moimapiserver.dto.AdminDto" resultType="com.moim.moimapiserver.dto.AdminDto">
        SELECT
            *
        FROM
            TBL_ADMIN
        WHERE
            A_ID = #{a_id}
    </select>

    <update id="updateAdminByAid" parameterType="com.moim.moimapiserver.dto.AdminDto">
        UPDATE
            TBL_ADMIN
        SET
            A_MAIL = #{a_mail},
            A_PHONE = #{a_phone},
            A_PART= #{a_part},
            A_POSITION = #{a_position},
            A_MOD_DATE = NOW()
        WHERE
            A_NO = #{a_no}
    </update>

    <select id="selectUserCount">
        SELECT
            COUNT(*)
        FROM
            TBL_MEMBER
    </select>

    <select id="selectMemberByMname" parameterType="String" resultType="com.moim.moimapiserver.dto.MemberDto">
        SELECT
            *
        FROM
            TBL_MEMBER
        WHERE
            M_NICKNAME LIKE CONCAT('%', #{searchKeyword}, '%')
    </select>

    <delete id="deleteUserByMno" parameterType="int">
        DELETE
            FROM
                TBL_MEMBER
        WHERE
            M_NO = #{m_no}
    </delete>

    <update id="updateUserByMno" parameterType="com.moim.moimapiserver.dto.MemberDto">
        UPDATE
            TBL_MEMBER
        SET
            M_NAME = #{m_name},
            M_NICKNAME = #{m_nickname},
            M_MAIL = #{m_mail},
            M_PHONE = #{m_phone},
            M_GENDER = #{m_gender},
            M_GRADE = #{m_grade},
            M_STATUS = #{m_status},
            M_MOD_DATE = NOW()
        WHERE
            M_NO = #{m_no}
    </update>

    <select id="selectUserGroupByMno" parameterType="int" resultType="com.moim.moimapiserver.dto.UserJoinGroupDto">
        SELECT
            gm.G_NO,
            gm.G_REG_DATE,
            gm.G_M_ROLE,
            g.G_CATEGORY,
            g.G_LOCATION,
            g.G_NAME
        FROM
            TBL_GROUP_MEMBER gm
        JOIN
            TBL_GROUP g
            ON
                gm.G_NO = g.G_NO
        WHERE
            gm.M_NO = #{m_no}
    </select>

    <select id="selectUserGroupPostByMno" parameterType="int" resultType="com.moim.moimapiserver.dto.UserPostDto">
        SELECT
            p.P_NO,
            p.G_NO,
            p.P_TEXT,
            p.P_IMG,
            p.P_REG_DATE,
            p.P_MOD_DATE
        FROM
            TBL_POST p
        WHERE
            p.G_NO IN (
                SELECT
                    gm.G_NO
                FROM
                    TBL_GROUP_MEMBER gm
                WHERE
                    gm.M_NO = #{m_no}
            )
    </select>
    <delete id="deleteGroupMemberByGnoAndMno" parameterType="Integer">
        DELETE FROM TBL_GROUP_MEMBER
        WHERE G_NO = #{g_no} AND M_NO = #{m_no};
    </delete>

    <delete id="deleteGroupPostByPnoAndMno" parameterType="Integer">
        DELETE FROM TBL_POST
        WHERE P_NO = #{p_no} AND M_NO = #{m_no}
    </delete>

    <select id="selectAllAdmin" resultType="com.moim.moimapiserver.dto.AdminDto">
        SELECT
            *
        FROM
            TBL_ADMIN
    </select>

    <select id="selectAllUser" resultType="com.moim.moimapiserver.dto.MemberDto">
        SELECT
            *
        FROM
            TBL_MEMBER
    </select>

    <select id="selectGenderCount" resultType="com.moim.moimapiserver.dto.UserGenderStatisticsDto">
        SELECT
            M_GENDER AS gender,
            COUNT(*) AS count
        FROM
            TBL_MEMBER
        GROUP BY
            M_GENDER
    </select>
    <select id="selectAgeCount" resultType="com.moim.moimapiserver.dto.UserAgeStatisticsDto">
        SELECT
            M_AGE AS AGE,
            COUNT(*) AS count
        FROM
            TBL_MEMBER
        GROUP BY
            M_AGE
        ORDER BY
            CAST(M_AGE AS UNSIGNED);
    </select>
</mapper>

















