<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moim.moimapiserver.advertisement.AdvertisementMapper">
    <insert id="insertNewAd" parameterType="com.moim.moimapiserver.dto.AdvertisementDto">
        INSERT INTO
            TBL_ADVERTISEMENT (
                               AD_NAME,
                               AD_IMG,
                               AD_TYPE,
                               AD_OWNER,
                               AD_ADVERTISER,
                               AD_LINK,
                               AD_START_DATE,
                               AD_END_DATE
        ) VALUES (
                  #{ad_name},
                  #{ad_img},
                  #{ad_type},
                  #{ad_owner},
                  #{ad_advertiser},
                  #{ad_link},
                  #{ad_start_date},
                  #{ad_end_date}
                         )
    </insert>
    <select id="selectAds" resultType="com.moim.moimapiserver.dto.AdvertisementDto">
        SELECT
            *
        FROM
            TBL_ADVERTISEMENT
                LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="selectAdCount">
        SELECT
            COUNT(*)
        FROM
            TBL_ADVERTISEMENT
    </select>
    <select id="selectAdStatus" resultType="com.moim.moimapiserver.dto.AdStatusDto">
        SELECT
            AST_NO,
            AST_NAME
        FROM
            TBL_AD_STATUS
    </select>

    <select id="selectAdByAdStatus">
        SELECT
            AD_NAME,
            AD_IMG,
            AD_LINK
        FROM
            TBL_ADVERTISEMENT
        WHERE
            AD_STATUS = 3
    </select>

    <update id="updateAdStatusByAdNo" parameterType="com.moim.moimapiserver.dto.AdvertisementDto">
        UPDATE
            TBL_ADVERTISEMENT
        SET
            AD_STATUS = #{ad_status},
            AD_MOD_DATE= NOW()
        WHERE
            AD_NO = #{ad_no}
    </update>

    <update id="updateAdByAdNo" parameterType="com.moim.moimapiserver.dto.AdvertisementDto">
        UPDATE
            TBL_ADVERTISEMENT
        SET
            AD_NAME = #{ad_name},
            AD_TYPE = #{ad_type},
            AD_ADVERTISER = #{ad_advertiser},
            AD_LINK = #{ad_link},
            AD_OWNER = #{ad_owner},
            AD_START_DATE = #{ad_start_date},
            AD_END_DATE = #{ad_end_date},
            AD_MOD_DATE = NOW()
            <if test="ad_img != null">
                , AD_IMG = #{ad_img}
            </if>
        WHERE
            AD_NO = #{ad_no}
    </update>

    <delete id="deleteAdByAdNo" parameterType="com.moim.moimapiserver.dto.AdvertisementDto">
        DELETE
            FROM
                TBL_ADVERTISEMENT
            WHERE
                AD_NO = #{ad_no}
    </delete>

    <select id="selectAdTime" resultType="com.moim.moimapiserver.dto.AdvertisementDto">
        SELECT
            AD_START_DATE,
            AD_END_DATE
        FROM
            TBL_ADVERTISEMENT
    </select>

    <select id="selectAdTimeByFilteredAdNo" resultType="com.moim.moimapiserver.dto.AdvertisementDto" parameterType="int">
        SELECT
            AD_START_DATE,
            AD_END_DATE
        FROM
            TBL_ADVERTISEMENT
        WHERE
            AD_NO != #{ad_no}
    </select>

    <update id="updateAdvertisementStartStatus">
        UPDATE
            TBL_ADVERTISEMENT
        SET
            AD_STATUS = 3
        WHERE
            AD_NO = #{ad_no}
</update>

    <update id="updateAdvertisementEndStatus">
        UPDATE
            TBL_ADVERTISEMENT
        SET
            AD_STATUS = 4
        WHERE
            AD_NO = #{ad_no}
    </update>

    <select id="findActiveAdvertisements" resultType="com.moim.moimapiserver.dto.AdvertisementDto">
        SELECT
            *
        FROM
            TBL_ADVERTISEMENT
        WHERE
            AD_STATUS IN (2, 3)
</select>

    <select id="selectAllAd" resultType="com.moim.moimapiserver.dto.AdvertisementDto">
        SELECT
            *
        FROM
            TBL_ADVERTISEMENT
    </select>

    <select id="selectAdByAdNo" parameterType="int" resultType="com.moim.moimapiserver.dto.AdvertisementDto">
        SELECT
            *
        FROM
            TBL_ADVERTISEMENT
        WHERE AD_NO = #{ad_no}
    </select>
</mapper>