<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moim.moimapiserver.announcement.AnnouncementMapper">
    <select id="selectAnnouncementCount">
        SELECT
            COUNT(*)
        FROM
            TBL_ANNOUNCEMENT
    </select>
    <select id="selectAllAnnouncement" resultType="com.moim.moimapiserver.dto.AnnouncementDto">
        SELECT
            *
        FROM
            TBL_ANNOUNCEMENT
            LIMIT #{size} OFFSET #{offset}
    </select>
    <delete id="deleteAnnouncementByAnNo" parameterType="int">
        DELETE
            FROM
                TBL_ANNOUNCEMENT
        WHERE
            AN_NO = #{an_no}
    </delete>
</mapper>