<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moim.moimapiserver.Auth.AuthMapper">
    <insert id="insertNewRefreshToken" parameterType="com.moim.moimapiserver.dto.RefreshTokenDto">
        INSERT INTO
            TBL_ADMIN_REFRESH_TOKENS(
                               A_ID,
                               REFRESH_TOKEN,
                               EXPIRES_AT
        )
        VALUES (
                #{a_id},
                #{refresh_token},
                #{expires_at}
               )

    </insert>
    <select id="selectRefreshToken" parameterType="com.moim.moimapiserver.dto.RefreshTokenDto">
        SELECT
            *
        FROM
            TBL_ADMIN_REFRESH_TOKENS
        WHERE
            REFRESH_TOKEN = #{refresh_token}
    </select>

    <update id="updateRefreshTokenByAid" parameterType="com.moim.moimapiserver.dto.RefreshTokenDto">
        UPDATE
            TBL_ADMIN_REFRESH_TOKENS
        SET
            REFRESH_TOKEN = #{refresh_token},
            EXPIRES_AT = #{expires_at},
            CREATED_AT = NOW()
        WHERE
            A_ID = #{a_id}
    </update>

    <delete id="deleteRefreshTokenByAid" parameterType="com.moim.moimapiserver.dto.RefreshTokenDto">
        DELETE
            FROM
                TBL_ADMIN_REFRESH_TOKENS
        WHERE
            A_ID = #{a_id}
    </delete>

    <select id="selectRefreshTokenByAid" parameterType="com.moim.moimapiserver.dto.RefreshTokenDto">
        SELECT
            *
        FROM
            TBL_ADMIN_REFRESH_TOKENS
        WHERE
            A_ID = #{a_id}
    </select>
</mapper>