<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moim.moimapiserver.credit.ICreditMapper">

    <insert id="insertToPayment">
        INSERT INTO TBL_PAYMENT(
                                M_NO,
                                PAY_PROD_NAME,
                                PAY_PERIOD,
                                PAY_AMOUNT,
                                PAY_METHOD)
        VALUES (#{m_no},
                #{pay_prod_name},
                #{pay_period},
                #{pay_amount},
                #{pay_method}
               )
    </insert>

    <select id="getExpiredMembers" resultType="com.moim.moimapiserver.credit.CreditDto">
        SELECT m_no
        FROM TBL_PAYMENT WHERE DATE(pay_expired_date) = CURRENT_DATE()
    </select>

    <update id="updateMemberStatusToExpired">
        UPDATE TBL_MEMBER M
            JOIN TBL_PAYMENT P ON M.m_no = P.m_no
            SET M.M_GRADE = 0
        WHERE DATE(P.PAY_EXPIRED_DATE) = CURRENT_DATE();
    </update>

</mapper>