<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moim.moimapiserver.customer.CustomerMapper">
    <select id="selectFaqCategory" resultType="com.moim.moimapiserver.dto.FaqCategoryDto">
        SELECT
            *
        FROM
            TBL_FAQ_CATEGORY
    </select>
    <insert id="insertNewCategory" parameterType="com.moim.moimapiserver.dto.FaqDto">
        INSERT
            INTO
                TBL_FAQ (
                    FAQ_CATEGORY,
                    FAQ_TITLE,
                    FAQ_BODY,
                    FAQ_REGISTER_ADMIN
            ) VALUES (
                      #{faq_category},
                      #{faq_title},
                      #{faq_body},
                      #{faq_register_admin}
                                 )
    </insert>
    <select id="selectFaq" resultType="com.moim.moimapiserver.dto.FaqDto">
        SELECT
            *
        FROM
            TBL_FAQ
        <where>
            <if test="sort != 0">
                FAQ_CATEGORY = #{sort}
            </if>
        </where>
        LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="selectFaqCount">
        SELECT
            COUNT(*)
        FROM
            TBL_FAQ
        <where>
            <if test="sort != 0">
                FAQ_CATEGORY = #{sort}
            </if>
        </where>
        LIMIT #{size} OFFSET #{offset}
    </select>

    <delete id="deleteFaqByFaqNo" parameterType="int">
        DELETE
            FROM
                TBL_FAQ
            WHERE
                FAQ_NO = #{faq_no}
    </delete>

    <update id="updateFaqByFaqNo" parameterType="com.moim.moimapiserver.dto.FaqDto">
        UPDATE
            TBL_FAQ
        SET
            FAQ_CATEGORY = #{faq_category},
            FAQ_TITLE = #{faq_title},
            FAQ_BODY = #{faq_body},
            FAQ_REGISTER_ADMIN = #{faq_register_admin},
            FAQ_MOD_DATE = NOW()
        WHERE
            FAQ_NO = #{faq_no}
    </update>
    <insert id="insertNewFaqCategory" parameterType="com.moim.moimapiserver.dto.FaqCategoryDto">
        INSERT
            INTO
                TBL_FAQ_CATEGORY (
                                  FAQ_CATEGORY
            ) VALUES (
                      #{faq_category}
                                 )
    </insert>
    <delete id="deleteFaqCategoryByCategoryNo" parameterType="int">
        DELETE
            FROM
                TBL_FAQ_CATEGORY
        WHERE
            FAQ_CATEGORY_NO = #{faq_category_no}
    </delete>

    <select id="selectFaqByKeyword" parameterType="String" resultType="com.moim.moimapiserver.dto.FaqDto">
        SELECT
            *
        FROM
            TBL_FAQ
        WHERE
            FAQ_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
    </select>

    <select id="selectFaqByFaqNo" parameterType="int" resultType="com.moim.moimapiserver.dto.FaqDto">
        SELECT
            *
        FROM
            TBL_FAQ
        WHERE
            FAQ_NO = #{faq_no}
    </select>

    <insert id="insertNewInquiries" parameterType="com.moim.moimapiserver.dto.CustomerInquiriesDto">
        INSERT
            INTO
                TBL_CUSTOMER_INQUIRIES (
                CSI_TITLE,
                CSI_CATEGORY,
                CSI_BODY,
                CSI_REQUEST_USER,
                CSI_ATTACH_FILE1,
                CSI_ATTACH_FILE2,
                CSI_ATTACH_FILE3,
                CSI_ATTACH_FILE4

            ) VALUES (
                      #{csi_title},
                      #{csi_category},
                      #{csi_body},
                      #{csi_request_user},
                      #{csi_attach_file1},
                      #{csi_attach_file2},
                      #{csi_attach_file3},
                      #{csi_attach_file4}
        )
    </insert>

    <select id="selectInquiriesListByMid" parameterType="Map" resultType="com.moim.moimapiserver.dto.CustomerInquiriesDto">
        SELECT
            *
        FROM
            TBL_CUSTOMER_INQUIRIES
            <where>
                <if test="m_id != null">
                    CSI_REQUEST_USER = #{m_id}
                </if>
                <if test="m_social_id != null">
                    CSI_REQUEST_USER = #{m_social_id}
                </if>
            </where>
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectInquiriesByCsiNo" parameterType="int" resultType="com.moim.moimapiserver.dto.CustomerInquiriesDto">
        SELECT
            *
        FROM
            TBL_CUSTOMER_INQUIRIES
        WHERE
            CSI_NO = #{csi_no}
    </select>

    <update id="updateCsiStatusByCsiNo" parameterType="int">
        UPDATE
            TBL_CUSTOMER_INQUIRIES
        SET
            CSI_STATUS = 3
        WHERE
            CSI_NO = #{csi_no}
    </update>

    <select id="selectInquiriesListByOffset" parameterType="int" resultType="com.moim.moimapiserver.dto.CustomerInquiriesDto">
        SELECT
            *
        FROM
            TBL_CUSTOMER_INQUIRIES
                <where>
                    <if test="sort > 0">
                        CSI_STATUS = #{sort}
                    </if>
                </where>
                LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="selectInquiriesListCount">
        SELECT
            COUNT(*)
        FROM
            TBL_CUSTOMER_INQUIRIES
    </select>

    <update id="updateInquiriesByCsiNo" parameterType="com.moim.moimapiserver.dto.CustomerInquiriesDto">
        UPDATE
            TBL_CUSTOMER_INQUIRIES
        SET
            CSI_RESPONSE_ADMIN = #{csi_response_admin},
            CSI_RESPONSE_BODY = #{csi_response_body},
            CSI_STATUS = 2,
            CSI_RESPONSE_DATE = NOW()
        WHERE
            CSI_NO = #{csi_no}
    </update>

</mapper>