<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moim.moimapiserver.group.GroupMapper">

    <!-- m_id로 m_no 조회 -->
    <select id="findMNoByMId" parameterType="string" resultType="int">
        SELECT M_NO FROM TBL_MEMBER WHERE M_ID = #{m_id}
    </select>

    <!-- 그룹 생성 -->
    <insert id="insertNewGroup" parameterType="com.moim.moimapiserver.group.GroupDto">
        INSERT INTO TBL_GROUP (
            G_NAME, G_INFO, G_CATEGORY, G_MASTER_ID, G_IMG_NAME, G_LOCATION, G_CONFIRM, G_MAX_NUMBER
        ) VALUES (
            #{g_name}, #{g_info}, #{g_category}, #{g_master_id}, #{g_img_name}, #{g_location}, #{g_confirm}, #{g_max_number}
        )
    </insert>

    <!-- 마지막으로 삽입된 그룹 ID 조회 -->
    <select id="findLastInsertedGroupNo" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <!-- 그룹 멤버 추가 -->
    <insert id="insertGroupMember">
        INSERT INTO TBL_GROUP_MEMBER (G_NO, M_NO, G_M_ROLE)
        VALUES (#{gNo}, #{mNo}, #{gMRole})
    </insert>

    <!-- 특정 m_id가 포함된 그룹 리스트 가져오기 -->
	<select id="findGroupsByUserId" parameterType="string" resultType="com.moim.moimapiserver.group.GroupDto">
	    SELECT 
	        g.G_NO AS g_no, 
	        g.G_NAME AS g_name, 
	        g.G_IMG_NAME AS g_img_name, 
	        g.G_INFO AS g_info,
	        g.G_CATEGORY AS g_category,
	        g.G_MASTER_ID AS g_master_id,
	        g.G_MAX_NUMBER AS g_max_number,
	        g.G_LOCATION AS g_location,
	        g.G_GOOD AS g_good,
	        g.G_PUBLIC AS g_public,
	        g.G_CONFIRM AS g_confirm,
	        g.G_REGIST AS g_regist,
	        g.G_REG_DATE AS g_reg_date,
	        g.G_MOD_DATE AS g_mod_date,
	        (
	            SELECT COUNT(*)
	            FROM TBL_GROUP_MEMBER gm
	            WHERE gm.G_NO = g.G_NO AND gm.G_M_ROLE != 0
	        ) AS memberCount,
	        gm.G_M_ROLE AS g_m_role -- 회원 역할 정보 추가
	    FROM TBL_GROUP g
	    JOIN TBL_GROUP_MEMBER gm ON g.G_NO = gm.G_NO -- TBL_GROUP_MEMBER와 조인
	    WHERE g.G_NO IN (
	        SELECT gm.G_NO 
	        FROM TBL_GROUP_MEMBER gm 
	        WHERE gm.M_NO = (SELECT M_NO FROM TBL_MEMBER WHERE M_ID = #{m_id})
	    )
	    AND gm.M_NO = (SELECT M_NO FROM TBL_MEMBER WHERE M_ID = #{m_id}); 
	</select>


	
	<select id="findGroupByGNo" parameterType="int" resultType="com.moim.moimapiserver.group.GroupDto">
	    SELECT 
	        g.G_NO AS g_no, 
	        g.G_NAME AS g_name, 
	        g.G_INFO AS g_info,
	        g.G_CATEGORY AS g_category,
	        g.G_LOCATION AS g_location,
	        g.G_IMG_NAME AS g_img_name,
	        g.G_CONFIRM AS g_confirm,
	        g.G_MAX_NUMBER AS g_max_number,
	        g.G_REG_DATE AS g_reg_date,
	        g.G_CONFIRM AS g_confirm,
	        g.G_REGIST AS g_regist,
	        g.G_PUBLIC AS g_public,
	        (
            SELECT COUNT(*)
            FROM TBL_GROUP_MEMBER gm
            WHERE gm.G_NO = g.G_NO AND gm.G_M_ROLE != 0
        	) AS memberCount,
	        g.G_MASTER_ID AS g_master_id,
	        m.M_NICKNAME AS g_master_nickname
	    FROM 
	        TBL_GROUP g
	    LEFT JOIN 
	        TBL_MEMBER m
	    ON 
	        g.G_MASTER_ID = m.M_NO
	    WHERE 
	        g.G_NO = #{gNo}
	</select>
	
	<select id="isGroupMember" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM TBL_GROUP_MEMBER
        WHERE G_NO = #{gNo} AND M_NO = #{mNo}
    </select>
    
    <insert id="insertPost" parameterType="com.moim.moimapiserver.group.PostDto">
        INSERT INTO TBL_POST (G_NO, M_NO, P_TEXT, P_IMG, P_REG_DATE, P_MOD_DATE)
        VALUES (#{g_no}, #{m_no}, #{p_text}, #{p_img}, NOW(), NOW())
    </insert>
    
    <select id="findPostsByGroup" parameterType="int" resultType="com.moim.moimapiserver.group.PostDto">
	    SELECT 
	        p.P_NO,
	        p.G_NO,
	        p.M_NO,
	        p.P_TEXT,
	        p.P_IMG,
	        p.P_REG_DATE,
	        p.P_MOD_DATE,
	        m.M_NICKNAME
	    FROM 
	        TBL_POST p
	    JOIN 
	        TBL_MEMBER m
	    ON 
	        p.M_NO = m.M_NO
	    WHERE 
	        p.G_NO = #{gNo}
	    ORDER BY 
	        p.P_REG_DATE DESC
	</select>
	
	<select id="findGroupConfirmStatus" parameterType="int" resultType="int">
	    SELECT G_CONFIRM
	    FROM TBL_GROUP
	    WHERE G_NO = #{gNo}
	</select>
	
	<select id="findGroupMemberRole" parameterType="map" resultType="int">
	    SELECT G_M_ROLE
	    FROM TBL_GROUP_MEMBER
	    WHERE G_NO = #{gNo} AND M_NO = #{mNo};
	</select>
	
	<select id="findMembersByGroupNo" parameterType="int" resultType="com.moim.moimapiserver.group.GroupMemberDto">
	    SELECT 
	        gm.G_M_NO,
	        gm.G_NO,
	        gm.M_NO,
	        gm.G_M_ROLE,
	        gm.G_REG_DATE,
	        gm.G_MOD_DATE,
	        m.M_NICKNAME AS m_nickname,
	        m.M_PROFILE_IMG AS m_profile_img
	    FROM TBL_GROUP_MEMBER gm
	    JOIN TBL_MEMBER m ON gm.M_NO = m.M_NO
	    WHERE gm.G_NO = #{gNo};
	</select>

	
</mapper>
