<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moim.moimapiserver.member.IMemberMapper">

    <insert id="insertNewMember"
            parameterType="com.moim.moimapiserver.member.MemberDto">
        INSERT INTO TBL_MEMBER(m_name, m_id, m_pw, m_mail, m_phone, m_nickname, m_gender, m_age, m_address, m_profile_img)
        VALUES (#{m_name}, #{m_id}, #{m_pw}, #{m_mail}, #{m_phone}, #{m_nickname}, #{m_gender}, #{m_age}, #{m_address}, #{m_profile_img})
    </insert>

    <select id="selectMemberForLogin" parameterType="String">
        SELECT * FROM TBL_MEMBER WHERE M_ID = #{m_id}
    </select>

    <select id="getMemberInfo" parameterType="com.moim.moimapiserver.member.MemberDto">
        SELECT *
        FROM TBL_MEMBER
        <where>
            <if test="m_id != null">
                AND M_ID = #{m_id}
            </if>
            <if test="m_social_id != null">
                AND M_SOCIAL_ID = #{m_social_id}
            </if>
        </where>
    </select>

    <update id="updateMemberInfo" parameterType="com.moim.moimapiserver.member.MemberDto" >
        UPDATE TBL_MEMBER
        SET
        m_nickname = #{m_nickname},
        m_gender = #{m_gender},
        m_phone = #{m_phone},
        m_address = #{m_address},
        m_category = #{m_category}
        <where>
            <choose>
                <when test="m_id != null">
                    AND M_ID = #{m_id}
                </when>
                <when test="m_social_id != null">
                    AND M_SOCIAL_ID = #{m_social_id}
                </when>
            </choose>
        </where>
    </update>


    <update id="insertCategories" parameterType="com.moim.moimapiserver.member.IMemberMapper">
        UPDATE TBL_MEMBER
        SET M_CATEGORY = #{m_category}
        <where>
            <!-- m_id가 존재하면 m_id 사용, m_id가 없으면 m_social_id 사용 -->
            <choose>
                <when test="m_id != null">
                    AND M_ID = #{m_id}
                </when>
                <when test="m_social_id != null">
                    AND M_SOCIAL_ID = #{m_social_id}
                </when>
            </choose>
        </where>
    </update>

    <insert id="socialSignup" parameterType="com.moim.moimapiserver.member.MemberDto">
        INSERT INTO TBL_MEMBER(m_social_id, m_social_type, m_name, m_mail, m_phone, m_nickname, m_gender, m_age, m_address, m_profile_img)
        VALUES(#{m_social_id}, #{m_social_type}, #{m_name}, #{m_mail}, #{m_phone}, #{m_nickname}, #{m_gender}, #{m_age}, #{m_address}, #{m_profile_img})
    </insert>

    <select id="existMember" parameterType="String" resultType="int">
        SELECT CASE WHEN EXISTS (
            SELECT 1 FROM TBL_MEMBER WHERE M_SOCIAL_ID = #{m_social_id}
        ) THEN 1 ELSE 0 END
    </select>

    <select id="findMemberId" parameterType="com.moim.moimapiserver.member.MemberDto">
        SELECT M_ID, M_REG_DATE FROM TBL_MEMBER WHERE M_NAME = #{m_name} AND M_PHONE = #{m_phone} AND M_ID IS NOT NULL
    </select>

    <select id="findMemberPw" parameterType="com.moim.moimapiserver.member.MemberDto" resultType="int">
        SELECT COUNT(*) FROM TBL_MEMBER WHERE M_ID=#{m_id} AND M_NAME=#{m_name} AND M_MAIL = #{m_mail}
    </select>

    <update id="findPasswordConfirm" parameterType="com.moim.moimapiserver.member.MemberDto">
        UPDATE TBL_MEMBER SET M_PW=#{m_pw} WHERE M_ID = #{m_id} AND M_MAIL = #{m_mail}
    </update>

    <select id="getPasswordById" parameterType="com.moim.moimapiserver.member.MemberDto">
        SELECT M_PW FROM TBL_MEMBER WHERE M_ID =#{m_id}
    </select>

    <update id="changePassword" parameterType="com.moim.moimapiserver.member.MemberDto">
        UPDATE TBL_MEMBER SET M_PW=#{m_pw} WHERE M_ID = #{m_id}
    </update>

    <select id="checkNickname" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM TBL_MEMBER WHERE M_NICKNAME = #{m_nickname}
    </select>

    <update id="newProfileImage" parameterType="com.moim.moimapiserver.member.MemberDto">
        UPDATE TBL_MEMBER SET M_PROFILE_IMG = #{m_profile_img}
          <where>
            <choose>
                <when test="m_id != null">
                    AND M_ID = #{m_id}
                </when>
                <when test="m_social_id != null">
                    AND M_SOCIAL_ID = #{m_social_id}
                </when>
            </choose>
        </where>
    </update>

</mapper>