<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moim.moimapiserver.member.IMemberMapper">

    <insert id="insertNewMember"
            parameterType="com.moim.moimapiserver.member.MemberDto">
        INSERT INTO TBL_MEMBER(m_name, m_id, m_pw, m_mail, m_phone, m_nickname, m_gender, m_age, m_address, m_profile_img)
        VALUES (#{m_name}, #{m_id}, #{m_pw}, #{m_mail}, #{m_phone}, #{m_nickname}, #{m_gender}, #{m_age}, #{m_address}, #{m_profile_img})
    </insert>

    <select id="selectMemberForLogin" parameterType="String">
        SELECT * FROM TBL_MEMBER WHERE M_ID = #{m_id}
    </select>

    <select id="getMemberInfo" parameterType="String">
        SELECT * FROM TBL_MEMBER WHERE M_ID = #{m_id}
    </select>

    <update id="updateMemberInfo" parameterType="com.moim.moimapiserver.member.MemberDto">
        UPDATE TBL_MEMBER
        SET m_nickname = #{m_nickname}, m_gender = #{m_gender}, m_phone = #{m_phone}, m_address = #{m_address}, m_profile_img = #{m_profile_img}, m_category = #{m_category}
        WHERE m_id = #{m_id}
    </update>

    <update id="insertCategories" parameterType="com.moim.moimapiserver.member.IMemberMapper">
        UPDATE TBL_MEMBER SET M_CATEGORY = #{m_category} WHERE M_ID = #{m_id}
    </update>

</mapper>